<p id="notice"><%= notice %></p>

<h2>Employees</h2>

<div class="table-settings mb-4 mt-4 mt-lg-0">
  <div class="row align-items-end">
    <div class="col-12 col-lg-6 d-flex">
      <div class="input-group me-2 me-lg-3">
        <span class="input-group-text"><span class="fas fa-search"></span></span>
        <input type="text" class="form-control" placeholder="Search" data-reflex="debounced:input->Employees#search" data-filter="<% @search_str %>" />
      </div>
      <select class="w-50 me-2 me-lg-3" data-controller="select" data-select-show-search-value="false" required data-reflex="change->Employees#filter" data-filter="<%=  @filter_by %>">
        <option selected value="">All</option>
        <% department_list.each do |dep| %> 
          <option value="<% dep.id %>"><%= dep.name.capitalize %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>

<div data-controller="hello">
  <div class="btn btn-primary">Say Hello</div>
</div>

<div class="row">
  <div class="col-8">
    <div class="table-responsive">
      <table class= "table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% if @employees.blank? %>
            <tr>
              <td colspan="2">No record found</td>
            </tr>
          <% else %>    
            <% @employees.each do |employee| %>
              <tr>
                <td><%= link_to employee.full_name, "#" %></td>
                <td><%= employee.email %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> 
</div>
