<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Employees Mgmt", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "Employees", root_path, class: "nav-link"%></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Department", departments_path, class: "nav-link"%></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-capitalize" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <%= link_to "Setting", edit_user_registration_path, method: :get, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Register", new_user_registration_path, class: "nav-link"%></li>
          <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link"%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
