<h2><%= t('registrations.edit_profile') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, placeholder: "Enter your first name", autofocus: true, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, placeholder: "Enter your last name", autofocus: true, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :contact, 'Mobile Number', class: "form-label" %>
      <%= f.text_field :contact, placeholder: "Enter your mobile number", autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
