<h2><%= t('registrations.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, placeholder: "Enter your first name", autofocus: true, required: true, class: 'form-control' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, placeholder: "Enter your last name", autofocus: true, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, placeholder: "Enter email address", autofocus: true, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :password, class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "Enter password", autocomplete: "new-password", class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <%= f.label :password_confirmation, class: "form-label" %><br />
      <%= f.password_field :password_confirmation, placeholder: "Repeat password", autocomplete: "new-password", class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-success' %>
      </div>
    </div>
  </div>

<% end %>

<div class="row mb-3">
  <div class="col-lg-6">
    <%= render "users/shared/links" %>
  </div>
</div>
